* {
    margin:0px;
    padding:0px;
    border:0px;
}
body {
    background:url(../img/indexBackground1.png) no-repeat;
    background-size:100vw 100vh;
    -webkit-background-size:100vw 100vh;
       -moz-background-size:100vw 100vh;
         -o-background-size:100vw 100vh;

    width:100vw;
    height:100vh;
}
.indexLogin {
    width:37.24%;
    height:43.611%;
    background-color:#d8edf7;
    position:relative;
    left:53.082%;
    top:37.037%;
    border-radius:4% 4%;
         
}
.indexLogin_input {
     width:87.392%;
    height:18.047%;
    padding-left:1%;
    margin-left:6.014%;
} 
.indexLogin_input_mag {

    margin-top:7%;
    margin-bottom:2%
} 
.indexLogin_input_go {
    background-color:#4fbbff;
    margin-top:5%;
    margin-bottom:2%;
    color:#fff;
    font-size:25px;
} 